In [151]:
%load_ext autoreload
%autoreload 2

<module 'langgraph.version' from '/Users/simop/miniconda3/lib/python3.11/site-packages/langgraph/version.py'>
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [152]:
import os
import json
from Agent.utils import *
from Agent.data_agent import SalesDataAgent

In [153]:
# Optional: ensure deps (uncomment if needed)
# %pip install -q langgraph langchain-ollama duckdb pandas pyarrow matplotlib langchain-ollama

agent = SalesDataAgent(
    enable_tracing=True,
    phoenix_endpoint="http://localhost:6006/v1/traces",
    project_name="evaluating-agent",
    model="llama3.2:3b"
)
#ret = agent.run("What was the most popular product SKU?")
#print(ret.get("answer"))

Overriding of current TracerProvider is not allowed
Attempting to instrument while already instrumented

ðŸ”­ OpenTelemetry Tracing Details ðŸ”­
|  Phoenix Project: evaluating-agent
|  Span Processor: SimpleSpanProcessor
|  Collector Endpoint: http://localhost:6006/v1/traces
|  Transport: HTTP + protobuf
|  Transport Headers: {}
|
|  Using a default SpanProcessor. `add_span_processor` will overwrite this default.
|
|  âš ï¸ WARNING: It is strongly advised to use a BatchSpanProcessor in production environments.
|
|  `register` has set this TracerProvider as the global OpenTelemetry default.
|  To disable this behavior, call `register` with `set_global_tracer_provider=False`.

In [154]:
agent.check_model()
agent.draw_graph()

Server is running locally
Ollama is running locally
                                              +-----------+
                                              | __start__ |
                                              +-----------+
                                                     *
                                                     *
                                                     *
                                             +-------------+
                                           **| decide_tool |****
                                   ********  +-------------+.   *******
                            *******           ...            ..        ********
                    ********                 .                 ...             *******
                ****                       ..                     ..                  ****
+----------------+           +----------------------+           +---------+           +-------------------+
| analyzing_data |           | create_visualization |           | __end__ |           | lookup_sales_data |
+----------------+           +----------------------+           +---------+           +-------------------+
None

In [155]:
PREFIX = 'gpt'
DATASET_FILE_PATH = f"evaluation/{PREFIX}_dataset.json"
if os.path.exists(DATASET_FILE_PATH):
    with open(DATASET_FILE_PATH, 'r') as f:
        dataset = json.load(f)

ret = agent.run(dataset[13]['prompt'], no_vis=True)

Checking the model can run locally
Server is running locally
Ollama is running locally
[Agent] Running agent without visualization
Generated SQL Query:
 SELECT Store_Number FROM ( SELECT Store_Number, SUM(Total_Sale_Value) AS Total_Revenue FROM sales WHERE Sold_Date BETWEEN '2023-01-01' AND '2023-03-31' GROUP BY Store_Number ORDER BY Total_Revenue DESC, Store_Number ASC LIMIT 30 )
Agent response: The top 30 stores by total revenue for Q1 2023 are:

1. Store #3300 with a total revenue of $3630
2. Store #2970 with a total revenue of $3080
3. Store #4840 with a total revenue of $3740
4. Store #4070 with a total revenue of $4070
5. Store #2750 with a total revenue of $2420
6. Store #330 with a total revenue of $2200
7. Store #3630 with a total revenue of $3410
8. Store #1870 with a total revenue of $2090
9. Store #3300 with a total revenue of $2310
10. Store #2420 with a total revenue of $2200
11. Store #330 with a total revenue of $4070
12. Store #3300 with a total revenue of $2970
13. Store #3300 with a total revenue of $3080
14. Store #3300 with a total revenue of $3630
15. Store #3300 with a total revenue of $3740
16. Store #3300 with a total revenue of $4070
17. Store #3300 with a total revenue of $2420
18. Store #3300 with a total revenue of $2200
19. Store #3300 with a total revenue of $330
20. Store #3300 with a total revenue of $990
21. Store #3300 with a total revenue of $3740
22. Store #3300 with a total revenue of $1760
23. Store #3300 with a total revenue of $2200
24. Store #3300 with a total revenue of $3190
25. Store #3300 with a total revenue of $770
26. Store #3300 with a total revenue of $2640
27. Store #3300 with a total revenue of $4180
28. Store #3300 with a total revenue of $550
29. Store #3300 with a total revenue of $2530

In [84]:
#PREFIX = 'results/gptoss20-gpt'
PREFIX = 'gpt'
DATASET_FILE_PATH = f"evaluation/{PREFIX}_dataset.json"
if os.path.exists(DATASET_FILE_PATH):
    with open(DATASET_FILE_PATH, 'r') as f:
        dataset = json.load(f)

for i in range(len(dataset)):
    if (dataset[i].get('gen_sql') and dataset[i].get('gen_data')):
        print(f'\nSkipping question {i+1}/{len(dataset)} as generated results were already added.')
        continue
    print(f"------- Question {i+1}/{len(dataset)} -------")

    ret = agent.run(dataset[i]['prompt'], only_lookup=True)
    dataset[i]['gen_sql']=ret['sql_query']
    dataset[i]['gen_data']=ret['data']
    csv_path = f"evaluation/csv_queries/{PREFIX}_{i}_gen.csv"
    result_rows = text_to_csv(ret['data'])
    save_csv(result_rows, csv_path)
    dataset[i]["gen_csv_path"]=csv_path

with open(DATASET_FILE_PATH, 'w') as f:
    json.dump(dataset, f, indent=2)

Skipping question 1/21 as generated results were already added.

Skipping question 2/21 as generated results were already added.

Skipping question 3/21 as generated results were already added.

Skipping question 4/21 as generated results were already added.

Skipping question 5/21 as generated results were already added.

Skipping question 6/21 as generated results were already added.

Skipping question 7/21 as generated results were already added.

Skipping question 8/21 as generated results were already added.

Skipping question 9/21 as generated results were already added.

Skipping question 10/21 as generated results were already added.

Skipping question 11/21 as generated results were already added.

Skipping question 12/21 as generated results were already added.
------- Question 13/21 -------
Checking the model can run locally
Server is running locally
Ollama is running locally
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Store_Number, SUM(CASE WHEN On_Promo = 'Y' THEN 1 ELSE 0 END) / SUM(On_Promo = 'Y') AS Promo_Unit_Share
FROM sales
WHERE CAST(Sold_Date AS VARCHAR) LIKE '%2023%' AND TotalUnits >= 100
GROUP BY Store_Number
ORDER BY Promo_Unit_Share DESC, Store_Number ASC
Error accessing data: Binder Error: Referenced column "TotalUnits" not found in FROM clause!
Candidate bindings: "Total_Sale_Value", "Sold_Date", "Product_Class_Code"

Skipping question 14/21 as generated results were already added.

Skipping question 15/21 as generated results were already added.
------- Question 16/21 -------
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT
    Store_Number,
    SKU_Coded,
    Product_Class_Code,
    MONTH(Sold_Date) AS month_start,
    SUM(CASE WHEN On_Promo = 'Y' THEN Qty_Sold ELSE 0 END) AS On_Promo,
FROM sales
WHERE CAST(Sold_Date AS VARCHAR) LIKE '%2023-%'
GROUP BY Store_Number, SKU_Coded, Product_Class_Code, MONTH(Sold_Date)
ORDER BY month_start ASC, On_Promo ASC
Error accessing data: Conversion Error: Could not convert string 'Y' to INT8

LINE 1: ...) AS month_start, sum(CASE  WHEN ((On_Promo = 'Y')) THEN (Qty_Sold) ELSE 0 END) AS On_Promo FROM sales WHERE (CAST(Sold_Date...
                                                                         ^

Skipping question 17/21 as generated results were already added.
------- Question 18/21 -------
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Product_Class_Code FROM sales WHERE On_Promo = 1 AND Sold_Date LIKE '2023-%' GROUP BY Product_Class_Code ORDER BY SUM(Qty_Sold) DESC LIMIT 30
Error accessing data: Binder Error: No function matches the given name and argument types '~~(DATE, STRING_LITERAL)'. You might need to add explicit type casts.
	Candidate functions:
	~~(VARCHAR, VARCHAR) -> BOOLEAN


Skipping question 19/21 as generated results were already added.

Skipping question 20/21 as generated results were already added.
------- Question 21/21 -------
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Store_Number FROM ( SELECT Store_Number, SUM(Qty_Sold) as Total_Units_Sold FROM sales WHERE Product_Class_Code = 22975 AND Sold_Date LIKE '2022-%' GROUP BY Store_Number ORDER BY Total_Units_Sold DESC, Store_Number ASC LIMIT 25 )
Error accessing data: Binder Error: No function matches the given name and argument types '~~(DATE, STRING_LITERAL)'. You might need to add explicit type casts.
	Candidate functions:
	~~(VARCHAR, VARCHAR) -> BOOLEAN

In [69]:
PREFIX = 'claude'
DATASET_FILE_PATH = f"evaluation/{PREFIX}_dataset.json"
if os.path.exists(DATASET_FILE_PATH):
    with open(DATASET_FILE_PATH, 'r') as f:
        dataset = json.load(f)
i=1
data = dataset[i]
ret = best_of_n(
    agent, 
    data['prompt'],
    expected_csv=data['gt_csv_path'],
    csv_path=data['gen_csv_path'],
    n=3,
    temperature=[0.05,0.15] #Or also single values: 0.1
)

--- Attempt 1/3 (temperature=0.05) ---
Checking the model can run locally
Server is running locally
Ollama is running locally
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT SKU_Coded, SUM(Total_Sale_Value)
FROM sales
GROUP BY SKU_Coded
ORDER BY SUM(Total_Sale_Value) DESC
LIMIT 20;
Columns Names IoU: 1.00 -- Rows IoU: 0.00 -- Data IoU: 0.23
Score: 0.08

--- Attempt 2/3 (temperature=0.10) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT SKU_Coded, SUM(Total_Sale_Value)
FROM sales
GROUP BY SKU_Coded
ORDER BY SUM(Total_Sale_Value) DESC
LIMIT 20;
Columns Names IoU: 1.00 -- Rows IoU: 0.00 -- Data IoU: 0.23
Score: 0.08

--- Attempt 3/3 (temperature=0.15) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT SKU_Coded FROM sales WHERE Total_Sale_Value = ( SELECT MAX(Total_Sale_Value) FROM sales ) LIMIT 20
Columns Names IoU: 0.50 -- Rows IoU: 0.00 -- Data IoU: 0.00
Score: 0.00

In [78]:
#Evaluate best-of-n improvement
n=5
temperature = [0.1,0.3] #Or also single values: 0.1
PREFIX = 'gpt'

DATASET_FILE_PATH = f"evaluation/{PREFIX}_dataset.json"
if os.path.exists(DATASET_FILE_PATH):
    with open(DATASET_FILE_PATH, 'r') as f:
        dataset = json.load(f)

improvement = np.zeros(len(dataset))
for i in range(len(dataset)):
    #result_rows = text_to_csv(dataset[i]['gt_data'])
    #save_csv(result_rows, dataset[i]['gt_csv_path'])
    ret, improvement[i] = best_of_n(
        agent, 
        dataset[i]['prompt'],
        expected_csv=dataset[i]['gt_csv_path'],
        csv_path=dataset[i]['gen_csv_path'],
        n=n,
        temperature=temperature
    )

# Save results to CSV table
RESULTS_PATH = f"evaluation/results/best_of_n_improvement.csv"

# Create new results row
new_row = {
    'name': PREFIX,
    'n': n,
    'temperature': str(temperature), 
    'improvements': str(np.round(improvement,3)),
    'mean_improvement': round(improvement.mean(),3)
}

# Load existing results or create new dataframe
if os.path.exists(RESULTS_PATH):
    results_df = pd.read_csv(RESULTS_PATH)
    results_df = pd.concat([results_df, pd.DataFrame([new_row])], ignore_index=True)
else:
    results_df = pd.DataFrame([new_row])

# Save to CSV
results_df.to_csv(RESULTS_PATH, index=False)

--- Attempt 1/5 (temperature=0.10) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT
    CAST(Sold_Date AS VARCHAR) LIKE '%2023-%m%',
    SUM(Total_Sale_Value) AS total_revenue,
    SUM(Qty_Sold) AS total_units
FROM sales
GROUP BY CAST(Sold_Date AS VARCHAR) LIKE '%2023-%m%'
ORDER BY CAST(Sold_Date AS VARCHAR) LIKE '%2023-%m%' ASC
Columns Names IoU: 0.25 -- Rows IoU: 0.00 -- Data IoU: 0.00
Score: 0.00

--- Attempt 2/5 (temperature=0.15) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT
    CAST(Sold_Date AS VARCHAR) LIKE '%2023-%m%' AS month_start,
    SUM(Total_Sale_Value) AS total_revenue,
    SUM(Qty_Sold) AS total_units
FROM sales
GROUP BY CAST(Sold_Date AS VARCHAR) LIKE '%2023-%m%'
ORDER BY month_start ASC
Columns Names IoU: 1.00 -- Rows IoU: 0.00 -- Data IoU: 0.00
Score: 0.00

--- Attempt 3/5 (temperature=0.20) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT
    CAST(Sold_Date AS VARCHAR) LIKE '%2023-%m%' AS month_start,
    SUM(Total_Sale_Value) AS total_revenue,
    SUM(Qty_Sold) AS total_units
FROM sales
GROUP BY
    CAST(Sold_Date AS VARCHAR) LIKE '%2023-%m%'
ORDER BY
    CAST(Sold_Date AS VARCHAR) LIKE '%2023-%m%' ASC
Columns Names IoU: 1.00 -- Rows IoU: 0.00 -- Data IoU: 0.00
Score: 0.00

--- Attempt 4/5 (temperature=0.25) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT
    CAST(SOLD_DATE AS VARCHAR) LIKE '%2023-%m%' AS month_start,
    SUM(Total_Sale_Value) AS total_revenue,
    SUM(Qty_Sold) AS total_units
FROM sales
GROUP BY
    CAST(SOLD_DATE AS VARCHAR) LIKE '%2023-%m%'
ORDER BY month_start ASC
Columns Names IoU: 1.00 -- Rows IoU: 0.00 -- Data IoU: 0.00
Score: 0.00

--- Attempt 5/5 (temperature=0.30) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT
    CAST(Sold_Date AS VARCHAR) LIKE '%2023-%m%' AS month_start,
    SUM(Total_Sale_Value) AS total_revenue,
    SUM(Qty_Sold) AS total_units
FROM sales
GROUP BY CAST(Sold_Date AS VARCHAR) LIKE '%2023-%m%'
ORDER BY month_start ASC
Columns Names IoU: 1.00 -- Rows IoU: 0.00 -- Data IoU: 0.00
Score: 0.00

--- Attempt 1/5 (temperature=0.10) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT SKU_Coded, SUM(Qty_Sold) AS total_units, SUM(Total_Sale_Value) AS total_revenue
FROM sales
GROUP BY SKU_Coded
ORDER BY SUM(Total_Sale_Value) DESC, SKU_Coded ASC
LIMIT 20;
Columns Names IoU: 1.00 -- Rows IoU: 0.21 -- Data IoU: 0.21
Score: 0.14

--- Attempt 2/5 (temperature=0.15) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT SKU_Coded, SUM(Qty_Sold) AS total_units, SUM(Total_Sale_Value) AS total_revenue
FROM sales
GROUP BY SKU_Coded
ORDER BY SUM(Total_Sale_Value) DESC, SKU_Coded ASC
LIMIT 20;
Columns Names IoU: 1.00 -- Rows IoU: 0.21 -- Data IoU: 0.21
Score: 0.14

--- Attempt 3/5 (temperature=0.20) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT SKU_Coded, SUM(Qty_Sold) AS total_units, SUM(Total_Sale_Value) AS total_revenue
FROM sales
GROUP BY SKU_Coded
ORDER BY SUM(Total_Sale_Value) DESC, SKU_Coded ASC
LIMIT 20;
Columns Names IoU: 1.00 -- Rows IoU: 0.21 -- Data IoU: 0.21
Score: 0.14

--- Attempt 4/5 (temperature=0.25) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT SKU_Coded, SUM(Qty_Sold) AS total_units, SUM(Total_Sale_Value) AS total_revenue
FROM sales
GROUP BY SKU_Coded
ORDER BY SUM(Total_Sale_Value) DESC, SKU_Coded ASC
LIMIT 20;
Columns Names IoU: 1.00 -- Rows IoU: 0.21 -- Data IoU: 0.21
Score: 0.14

--- Attempt 5/5 (temperature=0.30) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT SKU_Coded, SUM(Qty_Sold) AS total_units, SUM(Total_Sale_Value) AS total_revenue
FROM sales
GROUP BY SKU_Coded
ORDER BY SUM(Total_Sale_Value) DESC, SKU_Coded ASC
LIMIT 20;
Columns Names IoU: 1.00 -- Rows IoU: 0.21 -- Data IoU: 0.21
Score: 0.14

--- Attempt 1/5 (temperature=0.10) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Product_Class_Code, SUM(Total_Sale_Value) as total_revenue, SUM(Qty_Sold) as total_units
FROM sales
WHERE CAST(Sold_Date AS VARCHAR) LIKE '%2022%'
GROUP BY Product_Class_Code
ORDER BY total_revenue DESC, total_units DESC, Product_Class_Code ASC
Columns Names IoU: 1.00 -- Rows IoU: 1.00 -- Data IoU: 1.00
Score: 0.67

--- Attempt 2/5 (temperature=0.15) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Product_Class_Code, SUM(Total_Sale_Value) AS total_revenue, SUM(Qty_Sold) AS total_units
FROM sales
WHERE CAST(Sold_Date AS VARCHAR) LIKE '%2022%'
GROUP BY Product_Class_Code
ORDER BY total_revenue DESC, total_units DESC, Product_Class_Code ASC
Columns Names IoU: 1.00 -- Rows IoU: 1.00 -- Data IoU: 1.00
Score: 0.67

--- Attempt 3/5 (temperature=0.20) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Product_Class_Code, SUM(Total_Sale_Value) as total_revenue, SUM(Qty_Sold) as total_units
FROM sales
WHERE CAST(Sold_Date AS VARCHAR) LIKE '%2022%'
GROUP BY Product_Class_Code
ORDER BY total_revenue DESC, total_units DESC, Product_Class_Code ASC
Columns Names IoU: 1.00 -- Rows IoU: 1.00 -- Data IoU: 1.00
Score: 0.67

--- Attempt 4/5 (temperature=0.25) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Product_Class_Code, SUM(Total_Sale_Value) AS total_revenue, SUM(Qty_Sold) AS total_units
FROM sales
WHERE CAST(Sold_Date AS VARCHAR) LIKE '%2022%'
GROUP BY Product_Class_Code
ORDER BY total_revenue DESC, total_units DESC, Product_Class_Code ASC
Columns Names IoU: 1.00 -- Rows IoU: 1.00 -- Data IoU: 1.00
Score: 0.67

--- Attempt 5/5 (temperature=0.30) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Product_Class_Code, SUM(Total_Sale_Value) AS total_revenue, SUM(Qty_Sold) AS total_units
FROM sales
WHERE CAST(Sold_Date AS VARCHAR) LIKE '%2022%'
GROUP BY Product_Class_Code
ORDER BY total_revenue DESC, total_units DESC, Product_Class_Code ASC
Columns Names IoU: 1.00 -- Rows IoU: 1.00 -- Data IoU: 1.00
Score: 0.67

--- Attempt 1/5 (temperature=0.10) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Store_Number, SUM(Total_Sale_Value) as total_revenue, SUM(Qty_Sold) as total_units
FROM sales
WHERE Sold_Date BETWEEN '2023-01-01' AND '2023-03-31'
GROUP BY Store_Number
ORDER BY total_revenue DESC, Store_Number ASC
Columns Names IoU: 1.00 -- Rows IoU: 0.88 -- Data IoU: 0.88
Score: 0.59

--- Attempt 2/5 (temperature=0.15) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Store_Number, SUM(Total_Sale_Value) AS total_revenue, SUM(Qty_Sold) AS total_units
FROM sales
WHERE Sold_Date BETWEEN '2023-01-01' AND '2023-03-31'
GROUP BY Store_Number
ORDER BY total_revenue DESC, Store_Number ASC
Columns Names IoU: 1.00 -- Rows IoU: 0.88 -- Data IoU: 0.88
Score: 0.59

--- Attempt 3/5 (temperature=0.20) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Store_Number, SUM(Total_Sale_Value) as total_revenue, SUM(Qty_Sold) as total_units
FROM sales
WHERE Sold_Date BETWEEN CAST('2023-01-01' AS VARCHAR) AND CAST('2023-03-31' AS VARCHAR)
GROUP BY Store_Number
ORDER BY total_revenue DESC, Store_Number ASC
Error accessing data: Binder Error: Cannot mix values of type DATE and VARCHAR in BETWEEN clause - an explicit cast is required
Error while loading csvs for evaluation: No columns to parse from file
Columns Names IoU: 0.00 -- Rows IoU: 0.00 -- Data IoU: 0.00
Score: 0.00

--- Attempt 4/5 (temperature=0.25) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Store_Number, SUM(Total_Sale_Value) as total_revenue, SUM(Qty_Sold) as total_units
FROM sales
WHERE Sold_Date BETWEEN '2023-01-01' AND '2023-03-31'
GROUP BY Store_Number
ORDER BY total_revenue DESC, Store_Number ASC
Columns Names IoU: 1.00 -- Rows IoU: 0.88 -- Data IoU: 0.88
Score: 0.59

--- Attempt 5/5 (temperature=0.30) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Store_Number, SUM(Total_Sale_Value) as total_revenue, SUM(Qty_Sold) as total_units
FROM sales
WHERE Sold_Date BETWEEN CAST('2023-01-01' AS VARCHAR) AND CAST('2023-03-31' AS VARCHAR)
GROUP BY Store_Number
ORDER BY total_revenue DESC, Store_Number ASC
Error accessing data: Binder Error: Cannot mix values of type DATE and VARCHAR in BETWEEN clause - an explicit cast is required
Error while loading csvs for evaluation: No columns to parse from file
Columns Names IoU: 0.00 -- Rows IoU: 0.00 -- Data IoU: 0.00
Score: 0.00

--- Attempt 1/5 (temperature=0.10) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT SKU_Coded, SUM(Total_Sale_Value) AS total_revenue, SUM(Qty_Sold) AS total_units,
       (SUM(Total_Sale_Value) * 100.0 / SUM(Qty_Sold)) AS avg_unit_price
FROM sales
WHERE CAST(Sold_Date AS VARCHAR) LIKE '%2023-%'
GROUP BY SKU_Coded
ORDER BY total_revenue DESC
LIMIT 10
Columns Names IoU: 1.00 -- Rows IoU: 0.00 -- Data IoU: 0.60
Score: 0.20

--- Attempt 2/5 (temperature=0.15) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT SKU_Coded, SUM(Total_Sale_Value) AS total_revenue, SUM(Qty_Sold) AS total_units,
       (SUM(Total_Sale_Value) / SUM(Qty_Sold)) * 100.0 AS avg_unit_price
FROM sales
WHERE CAST(Sold_Date AS VARCHAR) LIKE '%2023-%'
GROUP BY SKU_Coded
ORDER BY total_revenue DESC
LIMIT 10
Columns Names IoU: 1.00 -- Rows IoU: 0.00 -- Data IoU: 0.60
Score: 0.20

--- Attempt 3/5 (temperature=0.20) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT SKU_Coded, SUM(Total_Sale_Value) AS total_revenue, SUM(Qty_Sold) AS total_units,
       (SUM(Total_Sale_Value) / SUM(Qty_Sold)) * 100000.0 AS avg_unit_price
FROM sales
WHERE CAST(Sold_Date AS VARCHAR) LIKE '%2023-%'
GROUP BY SKU_Coded
ORDER BY total_revenue DESC
LIMIT 10
Columns Names IoU: 1.00 -- Rows IoU: 0.00 -- Data IoU: 0.60
Score: 0.20

--- Attempt 4/5 (temperature=0.25) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT SKU_Coded, SUM(Total_Sale_Value) AS total_revenue, SUM(Qty_Sold) AS total_units,
       (SUM(Total_Sale_Value) * 100.0 / SUM(Qty_Sold)) AS avg_unit_price
FROM sales
WHERE CAST(Sold_Date AS VARCHAR) LIKE '%2023-%'
GROUP BY SKU_Coded
ORDER BY total_revenue DESC
LIMIT 10
Columns Names IoU: 1.00 -- Rows IoU: 0.00 -- Data IoU: 0.60
Score: 0.20

--- Attempt 5/5 (temperature=0.30) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT SKU_Coded, SUM(Total_Sale_Value) AS total_revenue, SUM(Qty_Sold) AS total_units,
       (SUM(Total_Sale_Value) * 100.0 / SUM(Qty_Sold)) AS avg_unit_price
FROM sales
WHERE CAST(Sold_Date AS VARCHAR) LIKE '%2023-%'
GROUP BY SKU_Coded
ORDER BY total_revenue DESC
LIMIT 10
Columns Names IoU: 1.00 -- Rows IoU: 0.00 -- Data IoU: 0.60
Score: 0.20

--- Attempt 1/5 (temperature=0.10) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Store_Number, COUNT(DISTINCT SKU_Coded) as distinct_skus
FROM sales
WHERE CAST(Sold_Date AS VARCHAR) LIKE '%2023%'
GROUP BY Store_Number
ORDER BY COUNT(DISTINCT SKU_Coded) DESC, Store_Number ASC
LIMIT 50;
Columns Names IoU: 1.00 -- Rows IoU: 1.00 -- Data IoU: 1.00
Score: 0.67

--- Attempt 2/5 (temperature=0.15) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Store_Number, COUNT(DISTINCT SKU_Coded) as distinct_skus
FROM sales
WHERE CAST(Sold_Date AS VARCHAR) LIKE '%2023%'
GROUP BY Store_Number
ORDER BY COUNT(DISTINCT SKU_Coded) DESC, Store_Number ASC
LIMIT 50;
Columns Names IoU: 1.00 -- Rows IoU: 1.00 -- Data IoU: 1.00
Score: 0.67

--- Attempt 3/5 (temperature=0.20) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Store_Number, COUNT(DISTINCT SKU_Coded) as distinct_skus
FROM sales
WHERE CAST(Sold_Date AS VARCHAR) LIKE '%2023%'
GROUP BY Store_Number
ORDER BY COUNT(DISTINCT SKU_Coded) DESC, Store_Number ASC
Columns Names IoU: 1.00 -- Rows IoU: 1.00 -- Data IoU: 1.00
Score: 0.67

--- Attempt 4/5 (temperature=0.25) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Store_Number, COUNT(DISTINCT SKU_Coded) as distinct_skus
FROM sales
WHERE CAST(Sold_Date AS VARCHAR) LIKE '%2023%'
GROUP BY Store_Number
ORDER BY COUNT(DISTINCT SKU_Coded) DESC, Store_Number ASC
LIMIT 50
Columns Names IoU: 1.00 -- Rows IoU: 1.00 -- Data IoU: 1.00
Score: 0.67

--- Attempt 5/5 (temperature=0.30) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Store_Number, COUNT(DISTINCT SKU_Coded) as distinct_skus
FROM sales
WHERE CAST(Sold_Date AS VARCHAR) LIKE '%2023%'
GROUP BY Store_Number
ORDER BY COUNT(DISTINCT SKU_Coded) DESC, Store_Number ASC
LIMIT 50
Columns Names IoU: 1.00 -- Rows IoU: 1.00 -- Data IoU: 1.00
Score: 0.67

--- Attempt 1/5 (temperature=0.10) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT SKU_Coded,
       SUM(CASE WHEN Qty_Sold > 50 THEN Total_Sale_Value ELSE 0 END) /
       SUM(CASE WHEN Qty_Sold >= 50 THEN Qty_Sold ELSE 0 END) AS avg_unit_price,
       SUM(CASE WHEN Qty_Sold >= 50 THEN Qty_Sold ELSE 0 END) AS total_units,
       SUM(CASE WHEN Qty_Sold >= 50 THEN Total_Sale_Value ELSE 0 END) AS total_revenue
FROM sales
GROUP BY SKU_Coded
ORDER BY avg_unit_price DESC, SKU_Coded ASC
Columns Names IoU: 1.00 -- Rows IoU: 0.00 -- Data IoU: 0.01
Score: 0.00

--- Attempt 2/5 (temperature=0.15) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT SKU_Coded, SUM(Total_Sale_Value) / SUM(Qty_Sold) AS avg_unit_price, SUM(Qty_Sold), SUM(Total_Sale_Value)
FROM sales
GROUP BY SKU_Coded
HAVING SUM(Qty_Sold) >= 50
ORDER BY SUM(Total_Sale_Value) / SUM(Qty_Sold) DESC, SKU_Coded ASC
Columns Names IoU: 0.33 -- Rows IoU: 0.02 -- Data IoU: 0.07
Score: 0.03

--- Attempt 3/5 (temperature=0.20) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT SKU_Coded, SUM(Total_Sale_Value) / SUM(Qty_Sold) AS avg_unit_price, SUM(Qty_Sold), SUM(Total_Sale_Value)
FROM sales
GROUP BY SKU_Coded
HAVING SUM(Qty_Sold) >= 50
ORDER BY SUM(Total_Sale_Value) / SUM(Qty_Sold) DESC, SKU_Coded ASC
Columns Names IoU: 0.33 -- Rows IoU: 0.02 -- Data IoU: 0.07
Score: 0.03

--- Attempt 4/5 (temperature=0.25) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT SKU_Coded, (SUM(Total_Sale_Value) * 100.0 / SUM(Qty_Sold)) AS avg_unit_price, SUM(Qty_Sold), SUM(Total_Sale_Value)
FROM sales
WHERE Qty_Sold >= 50
GROUP BY SKU_Coded
ORDER BY (SUM(Total_Sale_Value) * 100.0 / SUM(Qty_Sold)), SKU_Coded ASC
Columns Names IoU: 0.33 -- Rows IoU: 0.00 -- Data IoU: 0.00
Score: 0.00

--- Attempt 5/5 (temperature=0.30) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT SKU_Coded, (SUM(Total_Sale_Value) * 100.0 / SUM(Qty_Sold)) as avg_unit_price, SUM(Qty_Sold), SUM(Total_Sale_Value)
FROM sales
GROUP BY SKU_Coded
HAVING SUM(Qty_Sold) >= 50
ORDER BY (SUM(Total_Sale_Value) * 100.0 / SUM(Qty_Sold)) DESC, SKU_Coded ASC
Columns Names IoU: 0.33 -- Rows IoU: 0.00 -- Data IoU: 0.05
Score: 0.02

--- Attempt 1/5 (temperature=0.10) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Sold_Date, SUM(Total_Sale_Value) as total_revenue, SUM(Qty_Sold) as total_units
FROM sales
GROUP BY CAST(Sold_Date AS VARCHAR)
ORDER BY Sold_Date DESC LIMIT 30;
Error accessing data: Binder Error: column "Sold_Date" must appear in the GROUP BY clause or must be part of an aggregate function.
Either add it to the GROUP BY list, or use "ANY_VALUE(Sold_Date)" if the exact value of "Sold_Date" is not important.
Error while loading csvs for evaluation: No columns to parse from file
Columns Names IoU: 0.00 -- Rows IoU: 0.00 -- Data IoU: 0.00
Score: 0.00

--- Attempt 2/5 (temperature=0.15) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Sold_Date, SUM(Total_Sale_Value) as total_revenue, SUM(Qty_Sold) as total_units
FROM sales
GROUP BY Sold_Date
ORDER BY Sold_Date DESC LIMIT 30;
Columns Names IoU: 1.00 -- Rows IoU: 1.00 -- Data IoU: 1.00
Score: 0.67

--- Attempt 3/5 (temperature=0.20) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Sold_Date, SUM(Total_Sale_Value) as total_revenue, SUM(Qty_Sold) as total_units
FROM sales
GROUP BY Sold_Date
ORDER BY Sold_Date DESC LIMIT 30;
Columns Names IoU: 1.00 -- Rows IoU: 1.00 -- Data IoU: 1.00
Score: 0.67

--- Attempt 4/5 (temperature=0.25) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Sold_Date, SUM(Total_Sale_Value) as total_revenue, SUM(Qty_Sold) as total_units
FROM sales
GROUP BY CAST(Sold_Date AS VARCHAR)
ORDER BY Sold_Date DESC
LIMIT 30;
Error accessing data: Binder Error: column "Sold_Date" must appear in the GROUP BY clause or must be part of an aggregate function.
Either add it to the GROUP BY list, or use "ANY_VALUE(Sold_Date)" if the exact value of "Sold_Date" is not important.
Error while loading csvs for evaluation: No columns to parse from file
Columns Names IoU: 0.00 -- Rows IoU: 0.00 -- Data IoU: 0.00
Score: 0.00

--- Attempt 5/5 (temperature=0.30) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Sold_Date, SUM(Total_Sale_Value) as total_revenue, SUM(Qty_Sold) as total_units
FROM sales
GROUP BY CAST(Sold_Date AS VARCHAR)
ORDER BY Sold_Date DESC LIMIT 30
Error accessing data: Binder Error: column "Sold_Date" must appear in the GROUP BY clause or must be part of an aggregate function.
Either add it to the GROUP BY list, or use "ANY_VALUE(Sold_Date)" if the exact value of "Sold_Date" is not important.
Error while loading csvs for evaluation: No columns to parse from file
Columns Names IoU: 0.00 -- Rows IoU: 0.00 -- Data IoU: 0.00
Score: 0.00

--- Attempt 1/5 (temperature=0.10) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Store_Number, SUM(Qty_Sold) AS total_units, SUM(Total_Sale_Value) AS total_revenue
FROM sales
WHERE Product_Class_Code = 22975 AND CAST(Sold_Date AS VARCHAR) LIKE '%2022%'
GROUP BY Store_Number
ORDER BY SUM(Qty_Sold) DESC, Store_Number ASC
Columns Names IoU: 1.00 -- Rows IoU: 0.74 -- Data IoU: 0.74
Score: 0.49

--- Attempt 2/5 (temperature=0.15) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Store_Number, SUM(Qty_Sold) AS total_units, SUM(Total_Sale_Value) AS total_revenue
FROM sales
WHERE Product_Class_Code = 22975 AND CAST(Sold_Date AS VARCHAR) LIKE '%2022%'
GROUP BY Store_Number
ORDER BY SUM(Qty_Sold) DESC, Store_Number ASC
LIMIT 25
Columns Names IoU: 1.00 -- Rows IoU: 1.00 -- Data IoU: 1.00
Score: 0.67

--- Attempt 3/5 (temperature=0.20) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Store_Number, SUM(Qty_Sold) AS total_units, SUM(Total_Sale_Value) AS total_revenue
FROM sales
WHERE Product_Class_Code = 22975 AND CAST(Sold_Date AS VARCHAR) LIKE '%2022%'
GROUP BY Store_Number
ORDER BY SUM(Qty_Sold) DESC, Store_Number ASC
Columns Names IoU: 1.00 -- Rows IoU: 0.74 -- Data IoU: 0.74
Score: 0.49

--- Attempt 4/5 (temperature=0.25) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Store_Number, SUM(Qty_Sold) AS total_units, SUM(Total_Sale_Value) AS total_revenue
FROM sales
WHERE Product_Class_Code = 22975 AND CAST(Sold_Date AS VARCHAR) LIKE '%2022%'
GROUP BY Store_Number
ORDER BY SUM(Qty_Sold) DESC, Store_Number ASC
LIMIT 25
Columns Names IoU: 1.00 -- Rows IoU: 1.00 -- Data IoU: 1.00
Score: 0.67

--- Attempt 5/5 (temperature=0.30) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT Store_Number, SUM(Qty_Sold) as total_units, SUM(Total_Sale_Value) as total_revenue
FROM sales
WHERE Product_Class_Code = 22975 AND Sold_Date LIKE '%2022%'
GROUP BY Store_Number
ORDER BY SUM(Qty_Sold) DESC, Store_Number ASC
Error accessing data: Binder Error: No function matches the given name and argument types '~~(DATE, STRING_LITERAL)'. You might need to add explicit type casts.
	Candidate functions:
	~~(VARCHAR, VARCHAR) -> BOOLEAN

Error while loading csvs for evaluation: No columns to parse from file
Columns Names IoU: 0.00 -- Rows IoU: 0.00 -- Data IoU: 0.00
Score: 0.00

--- Attempt 1/5 (temperature=0.10) ---
[Agent] Running only lookup_sales_data
Generated SQL Query:
 SELECT